*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}
.navbar__lists{
    list-style-type:none;
    display: flex;
    gap: 20px;
    align-items:center;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color:white;
    background-color: blue;
}
.banner{
    padding: 100px 0px;
    width: 100%;
    display: flex;
}
.bbanner__heading{
   
   display: flex;
   margin: auto;
   justify-content: center;
   align-items: flex-start;
   gap: 30px;

   }
.btn1{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color:white;
    background-color: black;
}
.contanier{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    color: white;
}
.text{
text-align: center;
}
.container{
    width: 100%;
    height: 250px;
    display: flex;
}
.boxes > div{
 width:50px;
 height: 50px;
 display: ;

}
.circle{
    width: 100%;
}